args==0.1.0
backports.tempfile==1.0rc1
backports.weakref==1.0rc1
certifi==2017.4.17
chardet==3.0.4
click==6.7
clint==0.5.1
floyd-cli==0.9.7
h5py==2.7.0
idna==2.5
Keras==2.0.5
marshmallow==2.13.5
numpy==1.13.0
olefile==0.44
pathlib2==2.3.0
Pillow==8.1.1
polib
pytz==2017.2
PyYAML==3.12
requests==2.18.1
requests-toolbelt==0.8.0
scandir==1.5
scipy==0.19.0
shortuuid==0.5.0
six==1.10.0
tabulate==0.7.7
tensorflow==2.7.2
tensorflow-gpu==1.2.1
urllib3==1.21.1
